@import url(http://fonts.googleapis.com/css?family=Roboto:300);

* { margin: 0; padding: 0; } // Dirty reset...

body {
	background: #ecf0f1;
	text-align: center;
	font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

.left,.right {
  display: inline-block;
  padding: 100px;
  border: 3px solid #2c3e50;
  background: #95a5a6;
  position: relative;
  z-index: 1;
}